.movies {
  display: grid;
  padding: 4rem, 10rem, 10rem, 4rem;
  @media (min-width: 768px) {
    grid-template-columns: auto auto auto auto;
  }
  @media (min-width: 480px) and (max-width: 767px){
    grid-template-columns: auto auto;
  }
}

.movie {
  margin: 4rem;
}
